@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ff93d9;
  color: #771f58;
  padding-top: .5em;
  padding-bottom: 0;
}

header h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: .25em;
  font-family: Vidaloka, serif;
}

h2, h3 {
  font-family: Vidaloka, serif;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: .25em;
  margin-bottom: 0;
}

header nav a {
  display: block;
  text-decoration: none;
  color: #000;
  padding-top: .5em;
  padding-bottom: .5em;
}

header nav a:hover {
  background-color: #771f58;
  color: #ffbfe8;
}

footer {
  background-color: #ff93d9;
  color: #771f58;
  margin-top: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer p {
  text-align: center;
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  color: #ffdbf2;
  background-color: #b23a88;
  padding: .5em .75em;
  border-radius: 8px;
}

.btn:hover {
  background-color: #771f58;
}

.btn-ghost {
  border-color: #771f58;
  background-color: #fff;
  color: #771f58;
  border-width: 3px;
  border-style: solid;
}

.btn-ghost:hover {
  background-color: #b23a88;
  color: #ffdbf2;
}

.btn-subtle {
  background-color: #ffdbf2;
  color: #b23a88;
}

.btn-subtle:hover {
  background-color: #ffbfe8;
}

.btn-big {
  font-size: 1.5rem;
}

.specials {
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}

.specials h2 {
  margin: .5rem;
  margin-top: .25rem;
}

.specials figure {
  margin: 0;
}

.specials img {
  width: 100%;
}

.specials p {
  margin: .5rem;
}

.collections {
  padding-top: .25em;
}

.collections h2 {
  text-align: center;
}

.link-card figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.link-card img {
  width: 100%;
  overflow: hidden;
  vertical-align:text-bottom;
}

.link-card figcaption {
  position: absolute;
  width: 100%;
  min-height: 120px;
  bottom: -4em;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  transition: .25s;
}

.collections .link-card:nth-child(even) {
  display: none;
}

.map figure {
  margin: 0;
  position: relative;
}

.map img {
  width: 100%;
}

.map figcaption {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  bottom: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.points {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ff93d9;
}

.points h2 {
  margin-top: .25em;
  margin-bottom: .25em;
}

.tour h2 {
  margin: .25em .5em;
}

.map figcaption h2 {
  margin-top: 0;
}

.points p {
  margin-left: 1em;
  margin-right: 1em;
}

.tour p {
  margin: .5em;
  margin-top: .25rem;
}

.link-card figcaption p {
  margin-left: 1.5em;
  margin-right: 1.5em;
  /*margin-bottom: 0;*/
}

.points-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  margin-top: .5em;
  border-color: #333;
  background-color: #ffdbf2;
  border: solid 3px #771f58;
  border-radius: 12px;
  max-width: 275px;
}

.points-img {
  display: inline-block;
  float: right;
  margin-right: 1em;
  margin-top: 1.25em;
}

.points-img img {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.points-text {
  display: inline-block;
  width: 60%;
}

.points-logo img {
  max-width: 250px;
  margin: 2em;
}

.tour {
  text-align: center;
  margin: 1em;
}

.tour-img {
  width: 45%;
  margin: .25em;
}

.tour-img:nth-child(3) {
  display: none;
}

.tour-img:nth-child(4) {
  display: none;
}

.link-card:hover figcaption {
  bottom: .3em;
  transition: .25s;
}

@media only screen and (min-width: 25em) {

  nav a {
    float: left;
    width: 50%;
    display: inline-block;
  }

  header nav {
    padding-bottom: 72px;
  }

  .link-card figure {
    margin: 1em;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .map figcaption {
    bottom: 5em;
  }

  .points p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .points-logo img {
    margin: 0;
  }

  .tour-img {
    width: 30%;
  }

  .tour-img:nth-child(3) {
    display: inline;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav a {
    width: 25%;
  }

  header nav {
    padding-bottom: 41px;
  }

  .specials figure {
    position: relative;
  }

  .specials figcaption {
    position: absolute;
    width: 100%;
    bottom: .3em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
  }

  .specials figcaption p {
    margin-left: 1em;
    margin-right: 1em;
  }

  .link-card {
    float: left;
    width: 50%;
    margin: 0;
  }

  .link-card figure {
    margin: 0;
    max-width: none;
  }

  .collections {
    padding-bottom: 10em;
  }

  .collections .link-card:nth-child(4) {
    display: inline-block;
  }

  .map {
    clear: both;
  }

  .map figure {
    max-height: 400px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-bottom: 3.5em;
  }

  header h1 {
    float: left;
    padding-left: .25em;
    margin-right: .25em;
    margin-bottom: 0;
  }

  header nav {
    float: left;
    max-width: 700px;
    padding-bottom: 0;
    padding-top: .1em;
  }

  header nav a {
    text-align: center;
    width: 140px;
    margin-left: .25em;
    padding: .5em 1em;
    border-radius: 8px;
  }

  header nav li {
    display: inline-block;
  }

  .specials {
    max-height: 500px;
    overflow: hidden;
  }

  .specials figure figcaption {
    bottom: .4em;
  }

  .link-card {
    width: 33.3333%;
  }

  .collections .link-card:nth-child(even) {
    display: inline;
  }

  .points-card {
    display: inline-block;
  }

  .points-logo {
    float: left;
    width: 40%;
  }

  .points-logo img {
    width: 200px;
    margin: 1em;
  }

  .points-content {
    float: left;
    text-align: left;
    margin-bottom: 1em;
    width: 60%;
  }

  .points-perks {
    clear: both;
  }

  .points-info {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .points p {
    max-width: none;
  }

  .tour-img {
    width: 200px;
  }

  .tour-img:nth-child(4) {
    display: inline;
  }

  .tour p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 74em) {

  .specials figure figcaption {
    top: 17.5em;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.6;
  }

  header h1 {
    margin-left: 1.5em;
  }

  .collections {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .link-card figure {
    margin: 1em;
  }

  .specials figure figcaption {
    top: 15em;
  }
}
